{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block main %}

<div class='container'>
    <div class="row align-items-start ">
        <div class='col-sm-8'>
            <div>
                <h1 style='text-align: left;'>{{quote.companyName}}</h1>
                <h2 id='CurrentPrice'></h2>
                <div style="margin-top: 15px;">
                    <canvas id='canvas'></canvas>
                </div>
            </div>
            <div>
                <canvas id='canvas'></canvas>
            </div>
        </div>
        <div class="col-sm-4" >
            <div style="border-bottom: .2px solid lightgray;">
                <h2>Statistics</h2>
            </div>
            <div class="row row-cols-2" style="padding-top: 10px;">
                <div class="col stats-row"><h5>Open</h5><h5>{% if quote.open == None  %}--{% else %}${{quote.open|intcomma}}{% endif %}</h5></div>
                <div class="col stats-row"><h5>Volume</h5><h5>{{quote.latestVolume|intword}}</h5></div>
                <div class="col stats-row"><h5>Today's high</h5><h5>{% if quote.high == None  %}--{% else %}${{quote.high|intcomma}}{% endif %}</h5></div>
                <div class="col stats-row"><h5>Average Volume</h5><h5>{{quote.avgTotalVolume|intword}}</h5></div>
                <div class="col stats-row"><h5>Today's low</h5><h5>{% if quote.low == None  %}--{% else %}${{quote.low|intcomma}}{% endif %}</h5></div>
                <div class="col stats-row"><h5>Market cap</h5><h5>{{quote.marketCap|intword}}</h5></div>
                <div class="col stats-row"><h5>52 week high</h5><h5>{% if quote.week52High == None  %}--{% else %}${{quote.week52High|intcomma}} {% endif %}</h5></div>
                <div class="col stats-row"><h5>52 week low</h5><h5>{% if quote.week52Low == None  %}--{% else %}${{quote.week52Low|intcomma}} {% endif %}</h5></div>
            </div>
            <div style="padding-top: 10px; text-align: center;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="BuyButton" value="BUY" onclick="RadioGroupToggle();">
                    <label class="form-check-label" for="BuyButton">BUY</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SellButton" value="SELL" onclick="RadioGroupToggle();">
                    <label class="form-check-label" for="SellButton">SELL</label>
                </div>
                <div class="col-8 padding-top-10" style="margin: 0 auto;">
                    <div class="input-group">
                        <input type="text" class="form-control" id="SharesInput" placeholder="0" value="0">
                        <button class="btn btn-outline-secondary col-2" type="button" onclick="RemoveShare();"><i class="bi bi-dash-lg"></i></button>
                        <button class="btn btn-outline-secondary col-2" type="button" onclick="AddShare();"><i class="bi bi-plus-lg"></i></button>
                    </div>
                </div>
                <div class="d-grid gap-2 padding-top-10">
                    <button class="btn btn-success" type="button" id="SumbitButton" onclick="Transaction();">BUY</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{data|json_script:"mydata"}}
{{UserId|json_script:"Id"}}
<script>var token = '{{csrf_token}}';</script>
<script src="{% static 'VirMarket/CompanyPage.js' %}"></script>
{% endblock %}