{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'VirMarket\images\favicon.ico' %}"/>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> 
        <link href="{% static 'VirMarket/styles.css' %}" rel="stylesheet">
        <title>{% block title %}
            {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-opacity-10">
            <div class="container-fluid">
              {% if user.is_authenticated %}
                <div class="nav-title"> 
              {% else %}
              <div class="nav-title" style="width: 100%;">
              {% endif %}
              <a class="navbar-brand" href="{% url 'index' %}" style="display: inline-block;"><h3 class="nav-heading">Virtual Market</h3></a>
              </div>
              {% if user.is_authenticated %}
                <div class="dropdown-search" >
                  <input class="form-control me-2" type="search" placeholder="Search Symbol/Name..." aria-label="Search" id="SearchBar" onkeyup="SearchKeyUp();" onkeydown="SearchKeyDown();" onblur="SearchOnBlur();">
                  <div id="MyDropdown" class="dropdown-content">
                  </div>
                </div>
                <div class="dropdown">
                  <a  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle" style="color: black; font-size: 34px;"></i>
                  </a>
                
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'UserProfile' %}"><i class="bi bi-person-fill" style="padding-right: 5px;"></i>My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'Logout' %}"><i class="bi bi-box-arrow-in-left" style="padding-right: 5px;"></i>Logout</a></li>
                  </ul>
                </div>
              </div>
              <div class="dropdown-search-mobile" >
                <input class="form-control me-2" type="search" placeholder="Search Symbol/Name..." aria-label="Search" id="SearchBar-Mobile" onkeyup="SearchKeyUp();" onkeydown="SearchKeyDown();" onblur="SearchOnBlur();">
                <div id="MyDropdown-Mobile" class="dropdown-content">
                </div>
              </div>
              {% else %}
              {% endif %}
        </nav>
          
        
        {% block main %}
        {% endblock %}

        
        <script src='https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="{% static 'VirMarket/functions.js' %}"></script>
        {% block scripts %}
        {% endblock %}
   
    </body>
</html>