{% extends 'layout.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
VirtualMarket-Login
{% endblock %}

{% block main %}

{% if message %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-triangle-fill" style="padding-right: 15px;"></i>{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
{% endif %}
<div class="container">
        <div class="position-absolute top-50 start-50 translate-middle" >
            <div class="padding-bottom-15" style="text-align: center;"><h1>Log In</h1></div>
            <form method="POST">
                {% csrf_token %}
                {{ LoginForm.as_p }}
                <button class="btn btn-primary"  type="submit">Log in</button>
            </form>
            <div style="padding-top: 5px; text-align: center;"><small>Don't have an account? <a href="{% url 'Register' %}" style="text-decoration: none;">Sign up</a></small></div>
            <div style=" text-align: center;"><small> or </small></div>

            <a href="{% provider_login_url 'google' %}">
                <div class='g-sign-in-button'>
                    <div class=content-wrapper>
                        <div class='logo-wrapper'>
                            <img src="{% static 'VirMarket\images\g-logo.png' %}">
                        </div>
                        <span class='text-container'>
                      <span>Sign in with Google</span>
                    </span>
                    </div>
                </div>
            </a>
                


        </div>
</div>
    

{% endblock %}